In [ ]:
# all_data

# Phrase detection for multigrams

In [ ]:
import gensim

In [ ]:
%%time
phrases = gensim.models.phrases.Phrases(docs)

CPU times: user 3min 10s, sys: 1min 25s, total: 4min 35s
Wall time: 10min 34s

In [ ]:
phrases_found = phrases.find_phrases(docs)

In [ ]:
pd.DataFrame(
	columns=['phrase', 'value'],
	data=phrases_found.items()
	)\
		.sample(100)
		# .nlargest(20, 'value')

                      phrase       value
64421     forced_quarantines   11.450520
55698          wider_variety   40.688694
56783  chemical_contaminants   58.917539
25339    swearing_allegiance   92.558008
42591               lil_pump  191.926698
...                      ...         ...
65735         nicotine_patch   53.951723
37677         worked_wonders   27.342773
81702  thecollectiveq_status  149.891811
22963         mutual_defense   10.526437
53056      rapidly_expanding   53.870965

[100 rows x 2 columns]

In [ ]:
phrases.save(f'{OUT_DIR}phrases_soc_conspiracy')

In [ ]:
docs_phrased = docs

In [ ]:
for doc in phrases[docs_phrased]:
	pass

In [ ]:
import random

sents = random.choices(docs_phrased_list, k=100)

for sent in sents:
	for tok in sent:
		if '_' in tok:
			print(tok)

911_put_into_historical_context
wiki_2_
_address_the_argument
3b_not_the_user
2c_the_mods
2c_or_the_sub
wiki_2_
_address_the_argument
3b_not_the_user
2c_the_mods
2c_or_the_sub
wiki_2_
_address_the_argument
3b_not_the_user
2c_the_mods
2c_or_the_sub
wiki_2_
_address_the_argument
3b_not_the_user
2c_the_mods
2c_or_the_sub
wiki_2_
_address_the_argument
3b_not_the_user
2c_the_mods
2c_or_the_sub
wiki_2_
_address_the_argument
3b_not_the_user
2c_the_mods
2c_or_the_sub
submission_statements_now_required_for_all_link
wiki_2_
_address_the_argument
3b_not_the_user
2c_the_mods
2c_or_the_sub
wiki_2_
_address_the_argument
3b_not_the_user
2c_the_mods
2c_or_the_sub

In [ ]:
tok_freqs = {}
for doc in docs_phrased_list:
	for tok in doc:
		if '_' in tok:
			tok_freqs[tok] = tok_freqs.get(tok, 0) + 1

In [ ]:
tok_freqs_df = pd.DataFrame(
	data=tok_freqs.items(),
	columns=['token', 'freq']
)

In [ ]:
tok_freqs_df.sort_values('freq', ascending=False).head(100)

                      token    freq
2     _address_the_argument  282346
3           3b_not_the_user  282346
4               2c_the_mods  282346
5             2c_or_the_sub  282346
1                   wiki_2_  282346
...                     ...     ...
509                 _states     109
6211         steele_dossier     108
1467                 _story     106
1525                   _was     105
999      white_privilege_is     103

[100 rows x 2 columns]